/* Cuidado con el Selector Universal
*/

/*=======TheAlexmen11=========*/

*{
    background-color:#0d1117; /*colocando color de  fondo por defecto de color Negro */
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    color: #cdd9e5;
}


.container{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: transparent;
}

.table-style{
    width: 100%;
    background-color: #161b22;
}

.title{
    background-color: #10983d;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.subtitle{
    width: 100%;
    background-color: #00602d;
    border-radius: 5px;
    padding: 5px;
    bottom: 50px;
    z-index: 5;
    text-align: center;
}

.fila-data td{ 
    background-color:#003820;
    border-radius: 5px;
    text-align: center;
}

[class = "small"]{ 
    width: 2%;
}

[class = "medium"]{ 
    width:10%;
}

[class = "big"]{ 
    width: 40%;
}

.data td{
    background-color: #161b22;
    border: 0.5px solid #30363d;
    border-radius: 5px;
    text-align: center;
}

/* Checkboxes */
.checkboxes {
    opacity: 0;
    position: absolute; 
}


.label {
    width: 15px;
    margin: auto;
    height: 4px;
    background-color:  #10983d;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.ball {
    width: 12px;
    height: 12px;
    background-color: #30363d;
    position: absolute;
    top: 1px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  gracias esta afirmacion es que si nuestro elemento esta en checked se realiza el movimiento*/
.checkboxes:checked + .label .ball{
    transform: translateX(10px);
}

@media only screen and (max-width: 575px){

    .data td{
        font-size: 15px;
    }   
}
