
*{
    background-color:#0d1117;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    color: #cdd9e5;
}

#particles-js{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 290vh;
}

.container{
    width: 80%;
    margin: auto;
    background-color: transparent;
    position: absolute;
}

.table-style{
    width: 100%;
    background-color: #161b22;
}

.title{
    background-color: #10983d;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    margin-bottom: -15px;
}
.subtitle{
    background-color: #00602d;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: -1px;
}

.fila-data td{ 
    background-color:#003820;
    border-radius: 5px;
    text-align: center;
}

[class = "small"]{ 
    width: 5%;
}

[class = "medium"]{ 
    width:10%;
}

[class = "big"]{ 
    width: 40%;
}

.data td{
    background-color: #161b22;
    border: 0.5px solid #30363d;
    border-radius: 5px;
    text-align: center;
}