/* Cuidado con el Selector Universal
*/

/*=======TheAlexmen11=========*/

*{
    background-color:#0d1117; /*colocando color de  fondo por defecto de color Negro */
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    color: #cdd9e5;
}


.container{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: transparent;
}

.table-style{
    width: 100%;
    background-color: #161b22;
}

.title{
    background-color: #10983d;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.subtitle{
    width: 100%;
    background-color: #00602d;
    border-radius: 5px;
    padding: 5px;
    bottom: 50px;
    z-index: 5;
    text-align: center;
}

.fila-data td{ 
    background-color:#003820;
    border-radius: 5px;
    text-align: center;
}

[class = "small"]{ 
    width: 2%;
}

[class = "medium"]{ 
    width:10%;
}

[class = "big"]{ 
    width: 40%;
}

.data td{
    background-color: #161b22;
    border: 0.5px solid #30363d;
    border-radius: 5px;
    text-align: center;
}

/* comentario */